/* CSS Document */




#main_container {
    width: 100%;
	display:grid;

}



#table_bar {
    display: flex;
    width: 99%;
    border-color: #2F2F2F;
    border: 1px solid;
    border-radius: 40em;
    overflow: hidden;
	    margin: auto;
		margin-bottom:2%;
	 box-shadow: 0 7px 14px 0 rgb(64 68 82 / 52%), 0 3px 6px 0 rgb(0 0 0 / 42%);
	 
	     justify-content: space-evenly;
}


.bar_btn {
	    width: 30%;
    display: block;
    font-weight: bold;
    font-size: 1.5vw;
    border: none;
	    text-align: center;
    cursor: pointer;

	}


 #table_header {

    display: flex;
    width: 100%;
    border-color: #2F2F2F;
    border: 1px solid;
    margin: auto;
    padding: 2%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 2%;
}
#table_body{
     width: 100%;
    border-color: #2F2F2F;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
    display: block;
    /* margin-bottom: 2%; */
    box-shadow: 0 7px 14px 0 rgb(64 68 82 / 52%), 0 3px 6px 0 rgb(0 0 0 / 42%);
    left: 0;
    right: 0;
    padding: 2%;
    box-sizing: content-box;	
}
#insidebody{
	margin: auto;
    /* padding: 1%; */
    display: inline-table;
    width: 100%;
    box-sizing: content-box;

}

#table_header div{
    display: flex;
    width: 10%;
    color: #242424;
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
    margin: 10px;
    padding: 1%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
	
}

.cols{
    display: inline-flex;
	    width: 100%;
    cursor: pointer;
font-size: smaller;
}

.col{
    color: rgba(1,1,1,1.00);
    margin: 10px;
    /* padding: 1%; */
    box-sizing: border-box;
    /* width: inherit; */
    overflow: hidden;
    width: 10%;
    text-align: center;
}

#total_guest{
    text-align: center;
    width: 90%;
    color: #242424;
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
}





.mainLinks{

    /* height: 70px; */
    width: 90%;
    color: #242424;
    font-weight: bold;
    font-size: 1.5em;
    border-color: #2F2F2F;
    border: 1px solid;
    border-radius: 40em;
    overflow: hidden;
    cursor: pointer;
    /* line-height: 250%; */
    text-align: center;
    margin: auto;
    padding: 4%;
    box-sizing: border-box;
	margin-bottom:2%;
	 box-shadow: 0 7px 14px 0 rgb(64 68 82 / 52%), 0 3px 6px 0 rgb(0 0 0 / 42%);
}


#center_container {
    width: 95%;
    display: grid;
    margin: auto;
    padding: 2%;
    box-sizing: border-box;
}

#remove_container{
	margin:2%;
	padding:2%;
	box-sizing:border-box;
	    display: flex;
    padding: inherit;
    place-content: space-evenly;
	    width: 95%;

	
}


.headeR{
	font-weight:400;

}

.header {
    font-size: 2vw !important;
	}
#dropArea{
display:flex;

}


#dropboxText{
	    width: 50%;
		min-height:20vw;

}


#resboxText{
		    width: 50%;
			min-height:20vw

}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
.cols {


    justify-content: space-evenly;
}



.table_body {
display: block;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}
.contactform{
    display: inline-table;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}


.contactform label{

	font-weight:700;
	font-size:x-large;	
}

.Cinputs {
  width: 100%;
  padding: 1vw;
  border: 1px solid  rgba(211,211,211,1.00);
  border-radius: 1vw;
  box-sizing: border-box;
  margin-top: 1vw;
  margin-bottom: 2vw;
  resize: vertical;
    color: <?php echo "$list_link_color"; ?>;
	font-size:x-large;	

}





.cBtns {
	  border: 1px solid  rgba(211,211,211,1.00);

  background-color: rgba(211,211,211,1.00);
  color: <?php echo "$list_link_color"; ?>;
  padding: 2vw;
    border-radius: 1vw;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  	font-weight:700;

	font-size:xx-large;	

}

.cBtns:hover {
  background-color: rgba(211,211,211,1.00 + 20);
}








.A_container{
	width:100%;
    margin-bottom: 4%;
			    box-sizing: content-box;
				display:none;

}

.A_container .fa{
	cursor:pointer;
	padding:3%;
	
}

.available_cont{
	
}
.available_times{
	font-size:xx-large;	

	 
}
.collapsible {
  background-color:<?php echo $list_button_Color; ?>;
  	color:<?php echo "$list_link_color"; ?>;
  cursor: pointer;
  padding: 2vw;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2vw;
  font-weight:700;
  border-top-left-radius:2vw;
  border-top-right-radius:2vw;
	 box-shadow: 0 7px 3px 0 rgb(64 68 82 / 40%), 0 3px 6px 0 rgb(0 0 0 / 61%);
        margin-bottom: 4%;

   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;


				box-sizing:border-box;
}

.active, .collapsible:hover {
  background-color: <?php echo $list_border_color; ?>;
  	color:<?php echo $list_Text_color; ?>;

}
.active {
      margin-bottom: 0 !important;

}

.content :before {


}


.content {
  padding: 0 2vw;
  display: none;
  overflow: hidden;
    background-color: azure;
    color: #181816;
    
	font-size:x-large;
      margin-bottom: 4%;

}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #676763;
	  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */

}
.selectTimeArea{
	display: flex;
    flex-wrap: wrap;
	    flex-flow: row;
}

.selectTime{
    text-align: center;
    display: flex;
    margin: 2%;
    place-content: center;
}



.select_times{
		 box-shadow: 0 7px 3px 0 rgb(64 68 82 / 40%), 0 3px 6px 0 rgb(0 0 0 / 61%);
    width: 30%;
	margin:auto;
    background-color:<?php echo $list_border_color; ?>;

    border: 3px <?php echo $list_border_color; ?>; solid;
	border-radius:5%;
	margin-bottom:2vw;
	padding:2%;
	cursor:pointer;
	
}

.btn_container {
    width: 100%;
    margin-bottom: 4%;
    box-sizing: content-box;
    display: flex;
}

.select_func {
    box-shadow: 0 7px 3px 0 rgb(64 68 82 / 40%), 0 3px 6px 0 rgb(0 0 0 / 61%);
    width: 30%;
    background-color: rgb(124 203 220);
    border: 3px;
    border-radius: 5vw;
    margin: 2vw 2vw 2vw auto;
    padding: 4%;
    cursor: pointer;
    text-align: center;
}




